In [ ]:
import pandas as pd

df1 = pd.read_csv('datasets/KV-SingleApp-PeriodicLoad/X_cluster.csv')
df2 = pd.read_csv('datasets/KV-SingleApp-PeriodicLoad/Y.csv')

In [6]:
#df1['TimeStamp'] = pd.to_datetime(df1['TimeStamp'])
#df2['TimeStamp'] = pd.to_datetime(df2['TimeStamp'])

df = df1.merge(df2, on='TimeStamp', how='inner')

In [7]:
df.head(5)

,TimeStamp,0_all_..usr,0_all_..nice,0_all_..sys,0_all_..iowait,0_all_..steal,0_all_..irq,0_all_..soft,0_all_..guest,0_all_..gnice,...,5_X.dev.mapper.cloud..5.root_.Iused,5_X.dev.sda1_MBfsfree,5_X.dev.sda1_MBfsused,5_X.dev.sda1_.fsused,5_X.dev.sda1_.ufsused,5_X.dev.sda1_Ifree,5_X.dev.sda1_Iused,5_X.dev.sda1_.Iused,ReadsAvg,WritesAvg
0,1970-01-01 00:00:01.479626031,2.23,0,0.55,0.42,0,0.0,0.08,0,0,...,1.24,139,89,38.94,44.28,124184,312,0.25,73.8254,175.5445
1,1970-01-01 00:00:01.479626038,3.48,0,0.76,1.51,0,0.0,0.13,0,0,...,1.24,139,89,38.94,44.28,124184,312,0.25,56.2413,115.2276
2,1970-01-01 00:00:01.479626041,5.40,0,0.79,5.36,0,0.0,0.17,0,0,...,1.24,139,89,38.94,44.28,124184,312,0.25,56.8517,120.2875
3,1970-01-01 00:00:01.479626042,3.35,0,0.75,2.76,0,0.0,0.17,0,0,...,1.24,139,89,38.94,44.28,124184,312,0.25,56.9347,108.4472
4,1970-01-01 00:00:01.479626043,3.19,0,0.71,5.71,0,0.0,0.21,0,0,...,1.24,139,89,38.94,44.28,124184,312,0.25,60.5642,108.4257